<section class="content-header">
	<h1>
		错误报告
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
		<li>游戏</li>
		<li class="active">错误报告</li>
	</ol>
</section>
<section class="content-header">
	<div class="row">
		<div class="col-xs-12" style="margin:15px 0">
			<div class="btn-group" style="margin:0 10px 10px 0;float:left">
				<button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<span ng-if="!options.status && options.status != 0">全部状态</span>
					<span ng-if="options.status == 99">已发布</span>
					<span ng-if="options.status == 0">未审核</span>
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a ng-click="change_status()">全部状态</a></li>
					<li><a ng-click="change_status(99)">已发布</a></li>
					<li><a ng-click="change_status(0)">未审核</a></li>
				</ul>
			</div>
			<div class="input-group" style="margin:0 10px 10px 0;float:left;width:200px">
				<div class="input-group-btn">
					<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
						<span ng-if="options.search_type == 'id' || !options.search_type">推荐ID查询</span>
						<span ng-if="options.search_type == 'key'">关键词查询</span>
						<span ng-if="options.search_type == 'gameid'">游戏ID查询</span>
						<span class="fa fa-caret-down"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a ng-click="change_search_type('id')">ID查询</a></li>
						<li><a ng-click="change_search_type('key')">关键词查询</a></li>
						<li><a ng-click="change_search_type('gameid')">游戏ID查询</a></li>
					</ul>
				</div><!-- /btn-group -->
				<input type="text" class="form-control" ng-model="options.keywords" ng-keyup="game_search($event)">
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="box box-widget">
				<div class="box-header with-border">
					<div class="user-block">
						<img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User Image">
						<span class="username"><a href="#">Jonathan Burke Jr.</a></span>
						<span class="description">Shared publicly - 7:30 PM Today</span>
					</div>
					<div class="box-tools">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body with-border">
					杀时间利器系列…………然而自己的评分越来越低了呢………然而自己也是刚玩…2468分… 以上就是因为推荐理由必须水够一定一定字数才可以…所以有意见请投诉斯巴达就好啦…嗯…
					<div class="attachment-block clearfix">
						<img class="attachment-img" ng-src="http://img.u77.com/g/2015/04/582a0d03755c69b6.jpg" alt="attachment image" style="width:100px;height:57px" src="http://img.u77.com/g/2015/04/582a0d03755c69b6.jpg">
						<div class="attachment-pushed">
							<h4 class="attachment-heading"><a href="http://dev.u77.com/game/5745" target="_blank" style="display: inline-block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;max-width: 100%;">刀剑魔药2</a></h4>
							<div class="attachment-text">
								首次推荐于<br><span>15年03月30日 11:23</span>
							</div><!-- /.attachment-text -->
						</div><!-- /.attachment-pushed -->
					</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-warning btn-xs" ng-click="ignore(report)"><i class="fa fa-times"></i> 删除</button>
					<button class="btn btn-info btn-xs" ng-click="accept(report)"><i class="fa fa-check"></i> 通过</button>
				</div>
			</div>
		</div>
	</div>
</section>