<section class="content-header">
	<h1>
		编辑公告
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
		<li>游戏</li>
		<li>公告</li>
		<li class="active">编辑公告</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
			<input type="text" class="form-control" placeholder="标题" ng-model="notice.title">
			<div text-angular style="width:100%;background:#fff;border:1px solid #ccc;margin-top:20px" ng-model="notice.content">
			</div>
			<input type="text" class="form-control" style="margin-top:20px" ng-model="notice.userid" placeholder="用户ID 斯巴达:130692">
			<input type="text" class="form-control" style="margin-top:20px" ng-model="notice.create_time" placeholder="格式:2016/08/08 08:08:08">
			<div class="form-group" style="text-align:center;margin:0;margin-top:20px">
				<a class="btn" ng-click="notice.status = 99" ng-class="{true:'btn-sm btn-success'}[notice.status == 99]">已发布</a>
				<a class="btn" ng-click="notice.status = 0" ng-class="{true:'btn-sm btn-success'}[notice.status == 0]">未审核</a>
			</div>
			<a class="btn btn-primary col-xs-6 col-xs-offset-3" style="margin-top:20px" ng-click="submit()">提交</a>
		</div>
	</div>
</section>