<ul class="dropdown-menu">
	<li class="header">有{{normalMsgCount}}条普通消息</li>
	<li>
		<!-- inner menu: contains the actual data -->
		<ul class="menu">
			<li ng-repeat="msg in sysMsgList" ng-if="msg.msg.type == 400"><!-- start message -->
				<a ui-sref="base.messageWithUserId({userId:msg.from})">
					<div class="pull-left">
						<img src="{{AvatarPath + msg.avatar}}" class="img-circle" alt="User Image">
					</div>
					<h4>
						{{msg.nickname}}
						<small><i class="fa fa-clock-o"></i>{{msg.timestamp | timeFromNow}}</small>
					</h4>
					<p ng-bind="msg.msg.text"></p>
				</a>
			</li><!-- end message -->
		</ul>
	</li>
	<li class="footer"><a href="">查看所有消息</a></li>
</ul>