<aside class="main-sidebar">
	<!-- Left side column. contains the logo and sidebar -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="http://img.u77.com/avatar/3d/6b/1.jpg!avatar" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p>U77店长</p>
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
			<!-- search form -->
		<form class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control" placeholder="Search..." ng-model="gameId" ng-keyup="searchKeyUp($event)">
				<span class="input-group-btn">
					<button id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
				</span>
			</div>
		</form>
		<!-- sidebar menu -->
		<ul class="sidebar-menu">
			<li class="header">主导航</li>
			<li>
				<a ui-sref="base.dashboard">
					<i class="fa fa-dashboard"></i><span>控制台</span></i>
				</a>	
			</li>
			<li class="treeview">
				<a>
					<i class="fa fa-files-o"></i>
					<span>日常</span>
					<span class="label bg-yellow pull-right">4</span>
				</a>
				<ul class="treeview-menu">
					<li><a ui-sref="base.dailyBigEye"><i class="fa fa-circle-o"></i>大眼睛位</a></li>
					<li><a ui-sref="base.dailyGameExamine"><i class="fa fa-circle-o"></i>游戏审核</a></li>
					<li><a ui-sref="base.dailyReportExamine"><i class="fa fa-circle-o"></i>举报审核</a></li>
				</ul>
			</li>
			<li class="treeview">
				<a href="">
					<i class="fa fa-gamepad"></i>
					<span>游戏管理</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a ui-sref="base.gameNew"><i class="fa fa-circle-o"></i>添加</a></li>
					<li><a ui-sref="base.gameList"><i class="fa fa-circle-o"></i>列表</a></li>
					<li><a ui-sref="base.tag"><i class="fa fa-circle-o"></i>标签</a></li>
					<li><a ui-sref="base.cream"><i class="fa fa-circle-o"></i>精华</a></li>
					<li><a ui-sref="base.video"><i class="fa fa-circle-o"></i>视频</a></li>
					<li><a ui-sref="base.image"><i class="fa fa-circle-o"></i>图片</a></li>
					<li><a ui-sref="base.notice"><i class="fa fa-circle-o"></i>公告</a></li>
					<li><a ui-sref="base.recExamine"><i class="fa fa-circle-o"></i>推荐审核</a></li>
					<li><a ui-sref="base.errorReport"><i class="fa fa-circle-o"></i>错误报告</a></li>
				</ul>
			</li>
			<li>
				<a ui-sref="base.comment">
					<i class="fa fa-comment"></i>
					<span>评论</span>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-user"></i>
					<span>用户管理</span>
				</a>
			</li>
			<li class="treeview">
				<a href="">
					<i class="fa fa-newspaper-o"></i>
					<span>文章管理</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a ui-sref="base.pageNew"><i class="fa fa-circle-o"></i>添加</a></li>
					<li><a ui-sref="base.page"><i class="fa fa-circle-o"></i>列表</a></li>
				</ul>
			</li>
			<li class="treeview">
				<a ui-sref="base.discover">
					<i class="fa fa-search"></i>
					<span>发现</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a ui-sref="base.discover"><i class="fa fa-circle-o"></i>推荐</a></li>
					<li><a ui-sref="base.discoverGame"><i class="fa fa-circle-o"></i>游戏</a></li>
				</ul>
			</li>
			<li>
				<a>
					<i class="fa fa-bar-chart"></i>
					<span>数据统计</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li ng-repeat="page in financePages">
						<a ui-sref="base.analysisFinance({id:page.objectId})"><i class="fa fa-circle-o"></i>{{page.title}}</a>
					</li>
					<li>
						<a ui-sref="base.analysisFinanceNew"><i class="fa fa-circle-o"></i>新增图表</a>
					</li>
				</ul>
			</li>
		</ul>
	</section>
</aside>