@charset "UTF-8";
/**
 * common
 */
.fa {
  text-align: center; }

.webuploader-container {
  position: relative; }

.webuploader-element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.webuploader-pick-disable {
  opacity: 0.6;
  pointer-events: none; }

/*
editor
*/
.ta-scroll-window {
  /*max-height: 500px;*/ }

/**
 * base 
 * 
 */
html, body {
  background: #f9f9f9;
  width: 100%;
  height: 100%;
  font-family: '微软雅黑'; }
  html #u77manage, body #u77manage {
    background-repeat-y: no-repeat;
    background-size: auto;
    background-position: center center;
    width: 100%;
    min-height: 300px;
    height: 100%; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, a, span, div, section, i, li, input, p {
  font-family: '微软雅黑'; }

.widget-user.game-block .bg {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 5px; }

.widget-user.game-block .widget-user-image {
  top: 90px;
  margin-left: -30px; }
  .widget-user.game-block .widget-user-image .img-circle {
    width: 60px; }

.widget-user.game-block .widget-user-username a,
.widget-user.game-block .widget-user-desc a {
  color: #fff; }

.widget-user.game-block .box-footer .row .btns {
  padding-right: 5px; }
  .widget-user.game-block .box-footer .row .btns .description-block {
    overflow: hidden; }
    .widget-user.game-block .box-footer .row .btns .description-block .btn {
      float: left;
      width: 46%;
      margin: 2%;
      font-size: 12px;
      padding: 0;
      height: 25px; }

.widget-user.game-block .box-footer .row .status .description-block {
  color: #fff !important;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 10px auto;
  margin-bottom: 0;
  padding: 8px; }
  .widget-user.game-block .box-footer .row .status .description-block .fa {
    font-size: 25px; }
  .widget-user.game-block .box-footer .row .status .description-block .text {
    margin-top: 5px;
    font-size: 13px; }

.widget-user.game-block .box-footer .row .status .description-block.unaudited {
  background-color: #dd4b39 !important; }

.widget-user.game-block .box-footer .row .status .description-block.send-back {
  background-color: #001f3f !important; }

.widget-user.game-block .box-footer .row .status .description-block.publish {
  background-color: #00a65a !important; }

.widget-user.game-block .box-footer .row .status .description-block.unpublish {
  background-color: #f39c12 !important; }

.widget-user.game-block .box-footer .row .time {
  margin-top: 20px; }

/**
 * big eye
 * 
 */
#big-eye .slider .item {
  display: block;
  position: relative; }
  #big-eye .slider .item .img-responsive {
    margin: 0 auto; }
  #big-eye .slider .item .text {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center; }

#big-eye .box table tr th.progress {
  display: none; }

#big-eye .box table tr.uploading th {
  padding-top: 30px; }

#big-eye .box table tr.uploading th.progress {
  display: block;
  width: 92%;
  position: absolute;
  left: 4%;
  padding: 0;
  margin-top: 5px; }

#big-eye .submit {
  width: 200px;
  margin: 2% auto;
  display: block;
  font-size: 16px; }

#big-eye .arrow-left {
  font-size: -webkit-xxx-large;
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 1%;
  cursor: pointer; }

#big-eye .arrow-right {
  font-size: -webkit-xxx-large;
  position: absolute;
  z-index: 1;
  top: 30%;
  right: 1%;
  cursor: pointer; }

#loading {
  padding-top: 20%; }
  #loading .img-responsive {
    margin: 0 auto; }
