@charset "UTF-8";
/**
 * common
 */
.fa {
  text-align: center; }

/**
 * base 
 * 
 */
html, body {
  background: #f9f9f9;
  width: 100%;
  height: 100%;
  font-family: '微软雅黑'; }
  html #u77manage, body #u77manage {
    background-repeat-y: no-repeat;
    background-size: auto;
    background-position: center center;
    width: 100%;
    min-height: 300px;
    height: 100%; }

.widget-user.game-block .bg {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 5px; }

.widget-user.game-block .widget-user-image {
  top: 90px;
  margin-left: -30px; }
  .widget-user.game-block .widget-user-image .img-circle {
    width: 60px; }

.widget-user.game-block .widget-user-username a,
.widget-user.game-block .widget-user-desc a {
  color: #fff; }

.widget-user.game-block .box-footer .row .btns {
  padding-right: 5px; }
  .widget-user.game-block .box-footer .row .btns .description-block {
    overflow: hidden; }
    .widget-user.game-block .box-footer .row .btns .description-block .btn {
      float: left;
      width: 46%;
      margin: 2%;
      font-size: 12px;
      padding: 0;
      height: 25px; }

.widget-user.game-block .box-footer .row .status .description-block {
  color: #fff !important;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 10px auto;
  margin-bottom: 0;
  padding: 8px; }
  .widget-user.game-block .box-footer .row .status .description-block .fa {
    font-size: 25px; }
  .widget-user.game-block .box-footer .row .status .description-block .text {
    margin-top: 5px;
    font-size: 13px; }

.widget-user.game-block .box-footer .row .status .description-block.unaudited {
  background-color: #dd4b39 !important; }

.widget-user.game-block .box-footer .row .status .description-block.send-back {
  background-color: #001f3f !important; }

.widget-user.game-block .box-footer .row .status .description-block.publish {
  background-color: #00a65a !important; }

.widget-user.game-block .box-footer .row .status .description-block.unpublish {
  background-color: #f39c12 !important; }

.widget-user.game-block .box-footer .row .time {
  margin-top: 20px; }

/**
 * big eye
 * 
 */
#big-eye .slider .item {
  display: block;
  position: relative; }
  #big-eye .slider .item .img-responsive {
    margin: 0 auto; }
  #big-eye .slider .item .text {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center; }

#big-eye .submit {
  width: 200px;
  margin: 2% auto;
  display: block;
  font-size: 16px; }
