<div class="col-xs-12 col-sm-{{chart.width}}">
	<div class="box box-danger">
		<div class="box-header with-border">
			<div class="col-xs-6">
				<!-- <div class="input-group input-group-sm"> -->
	                <input type="text" class="form-control" placeholder="图表名称" ng-model="chart.title">
	                <!-- <span class="input-group-btn">
	                  <button type="button" class="btn btn-primary btn-flat ng-pristine ng-valid ng-touched" ng-model="page.title">保存图表</button>
	                </span> -->
	            <!-- </div> -->
			</div>
			<div class="col-xs-3">
				<select class="form-control" ng-options="width for width in widths" ng-model="chart.width"></select>
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				</button>
				<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
				</button>
			</div>
		</div>
		<!-- /.box-header -->
		<div class="box-body" ng-show="isEdit">
			<div class="form-group">
				<label>查询范围</label>
				<select class="form-control" ng-options="game.name_en as game.name for game in gameConfig" ng-model="chart.game">
					<option value="">所有游戏</option>
				</select>
				<select class="form-control" ng-options="platform for platform in platforms" ng-model="chart.platform" ng-show="showPlatform">
					<option value="">所有渠道</option>
				</select>
				<select class="form-control" ng-options="server for server in servers" ng-model="chart.server" ng-show="showServers">
					<option value="">所有区服</option>
				</select>
				<select class="form-control" ng-options="(time + '天内') for time in times" ng-model="chart.time"></select>
				<input type="text" class="form-control" ng-model="chart.startDate" ng-if="chart.time == '自定义'">
				<input type="text" class="form-control" ng-model="chart.endDate" ng-if="chart.time == '自定义'">
			</div>

			<div class="form-group">
				<label>X轴</label>
				<select class="form-control" ng-options="x.key as x.name for x in xConfig" ng-model="chart.x"></select>
				<div class="input-group" ng-if="chart.x == 'time'">
					<input type="text" class="form-control" ng-model="chart.xtime">
					<span class="input-group-addon">天</span>	
				</div>
				
			</div>

			<div class="form-group">
				<label>指标(Y轴)</label>
				<select class="form-control" ng-options="y.key as y.name for y in yConfig" ng-model="chart.y"></select>
			</div>

			<div class="form-group">
				<label>图表选择</label>
				<select class="form-control" ng-options="chart.key as chart.name for chart in chartConfig" ng-model="chart.type"></select>
			</div>
		</div>
		<div class="box-body" ng-if="!isEdit">
			<div class="loading" ng-if="loading" style="font-size: 50px;text-align: center">
				<i class="fa fa-spinner fa-pulse"></i>
			</div>
			<div class="chart" ng-if="chart.type == 'line' && !loading">
				<canvas line-chart="chartData"></canvas>	
			</div>
			<div class="chart" ng-if="chart.type == 'pie' && !loading">
				<canvas pie-chart="chartData"></canvas>	
			</div>
		</div>
		<!-- /.box-body -->
		<div class="box-footer text-center">
			<a ng-click="showChart()" ng-show="isEdit">查看图表</a>
			<a ng-click="showChart()" ng-show="!isEdit">编辑图表</a>
		</div>
		<!-- /.box-footer -->
	</div>
</div>