<section class="content-header">
	<h1 >{{title}}
		<a class="btn btn-sm btn-info" style="margin-left: 60px" ui-sref="base.analysisFinanceEdit({id:id})">编辑</a>
		<a class="btn btn-sm btn-danger" ng-click="delete()">删除</a>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
		<li >数据统计</li>
		<li class="active" ng-bind="title"></li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div chart-show="chart" ng-repeat="chart in charts"></div>
	</div>
</section>
