<section class="content-header">
	<h1>
		礼包列表
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
		<li>内购游戏运维</li>
		<li>礼包</li>
		<li class="active">礼包列表</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-3 col-sm-4" ng-repeat="gift in gifts">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title" ng-bind="gift.name"></h3>
				</div>
				<div class="box-body" style="text-align: right">
					<div class="chart"><canvas doughnut-chart="gift.chartData"></canvas></div>
					<p style="font-size: 12px;text-align: center">{{gift.start | onlyDate}}至{{gift.end | onlyDate}}</p>
					<p style="font-size: 12px;text-align: center">{{gift.game.name}}</p>
					<a class="btn btn-warning" ui-sref="base.editGift({id:gift.objectId})">修改</a>
					<a class="btn btn-danger" ng-click="remove(gift)" ng-disabled="gift.removing"><span ng-if="!gift.removing">删除</span><span ng-if="gift.removing"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></span></a>
				</div>
			</div>
		</div>
	</div>
</section>