<section class="content-header">
	<h1>
		编辑精华
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
		<li>游戏</li>
		<li>精华</li>
		<li class="active">编辑精华</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
			<input type="text" class="form-control" placeholder="标题">
			<div contenteditable="true" style="width:100%;min-height:500px;background:#fff;border:1px solid #ccc;margin-top:20px"></div>
			<input type="text" class="form-control" data-inputmask="'alias': 'datetime'" data-mask="" style="margin-top:20px">
			<div class="form-group" style="text-align:center;margin:0;margin-top:20px">
				<a class="btn btn-sm btn-success" ng-click="game.status=99">已发布</a>
				<a class="btn" ng-click="game.status=1">未发布</a>
				<a class="btn" ng-click="game.status=0">未审核</a>
			</div>
			<a class="btn btn-primary col-xs-6 col-xs-offset-3" style="margin-top:20px">提交</a>
		</div>
	</div>
</section>
<script type="text/javascript">
	$("[data-mask]").inputmask();
</script>