<section class="content-header">
	<h1>
		错误报告
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
		<li>游戏</li>
		<li class="active">错误报告</li>
	</ol>
</section>
<section class="content-header">
	<div class="row">
		<div class="col-xs-12" style="margin:15px 0">
			<div class="btn-group" style="margin:0 10px 10px 0;float:left">
				<ul class="dropdown-menu" role="menu">
					<li><a ng-click="change_status()">全部状态</a></li>
					<li><a ng-click="change_status(99)">已发布</a></li>
					<li><a ng-click="change_status(0)">未审核</a></li>
				</ul>
			</div>
			<div class="input-group" style="margin:0 10px 10px 0;float:left;width:200px">
				<div class="input-group-btn">
					<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
						<span ng-if="options.search_type == 'id' || !options.search_type">错误ID查询</span>
						<span ng-if="options.search_type == 'key'">关键词查询</span>
						<span ng-if="options.search_type == 'tid'">游戏ID查询</span>
						<span ng-if="options.search_type == 'userid'">用户ID查询</span>
						<span class="fa fa-caret-down"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a ng-click="change_search_type('id')">错误ID查询</a></li>
						<li><a ng-click="change_search_type('key')">关键词查询</a></li>
						<li><a ng-click="change_search_type('tid')">游戏ID查询</a></li>
						<li><a ng-click="change_search_type('userid')">用户ID查询</a></li>
					</ul>
				</div><!-- /btn-group -->
				<input type="text" class="form-control" ng-model="options.keywords" ng-keyup="search($event)">
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-show="!error.hide" ng-repeat="error in list.data">
			<div class="box box-widget">
				<div class="box-header with-border">
					<div class="user-block">
						<img class="img-circle" ng-src="http://img.u77.com/avatar/{{error.user.avatar}}" alt="User Image">
						<span class="username"><a href="{{Path}}user/{{error.user.userid}}" ng-bind="error.user.nickname"></a></span>
						<span class="description" ng-bind="error.create_at | dateTime"></span>
					</div>
					<div class="box-tools">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body with-border">
					<a class="btn btn-block btn-social btn-google ng-scope" ng-if="error.type == 1">
						<i class="fa fa-close"></i> 游戏白屏,打不开,链接失效
					</a>
					<a class="btn btn-block btn-social btn-facebook ng-scope" ng-if="error.type == 2">
						<i class="fa fa-cloud-upload"></i> 游戏有新版本了,请更新版本
					</a>
					<a class="btn btn-block btn-social btn-twitter ng-scope" ng-if="error.type == 3">
						<i class="fa fa-minus-circle"></i> 其他问题
					</a>
					<div style="height:100px;overflow:auto">{{error.content}}</div>
					<div class="attachment-block clearfix">
						<img class="attachment-img" ng-src="{{error.game.image}}" alt="attachment image" style="width:100px;height:57px">
						<div class="attachment-pushed">
							<h4 class="attachment-heading"><a href="{{Path+'game/'+error.game.id}}" target="_blank" style="display: inline-block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;max-width: 100%;">{{error.game.title}}</a></h4>
							<div class="attachment-text">
								首次推荐于<br><span>{{error.game.create_at|dateTime}}</span>
							</div><!-- /.attachment-text -->
						</div><!-- /.attachment-pushed -->
					</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-warning btn-xs" ng-click="delete(error)"><i class="fa fa-times"></i> 删除</button>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div nav-pager='list' page-change="pageChange"></div>
		</div>
	</div>
</section>