<div class="box box-widget widget-user game-block">
<!-- Add the bg color to the header using any of the bg-* classes -->
	<div class="widget-user-header bg-black" style="background: url('{{game.image}}');background-size: 100% 100%;">
		<div class="bg">
			<h3 class="widget-user-username"><a href="{{Path + 'game/' + game.id + '?debug=preview'}}" ng-bind="game.title" target="_blank"></a></h3>
			<h5 class="widget-user-desc"><a href="{{Path + 'user/' + game.userid}}" ng-bind="game.user.nickname" target="_blank"></a></h5>
		</div>
	</div>
	<div class="widget-user-image">
		<img class="img-circle" ng-src="{{AvatarPath+game.user.avatar}}" alt="User Avatar">
	</div>
	<div class="box-footer">
		<div class="row">
			<div class="col-xs-4 border-right btns">
				<div class="description-block">
					<a target="_blank" class="btn btn-primary" ui-sref="base.gameEdit({id:game.id})">编辑</a>
					<a target="_blank" class="btn btn-danger" ng-click="sendBack(game)">退稿</a>
					<a target="_blank" class="btn btn-success" ui-sref="base.relation({id:game.id})">相关</a>
					<a target="_blank" class="btn btn-warning" ui-sref="base.gameNotice({id:game.id})">公告</a>
				</div><!-- /.description-block -->
			</div><!-- /.col -->
			<div class="col-xs-4 border-right status" ng-if="game.status == 0">
				<a class="description-block unaudited" target="_blank" ui-sref="base.gameEdit({id:game.id})">
					<i class="icon fa fa-warning"></i>
					<h5 class="text">未审核</h5>
				</a><!-- /.description-block -->
			</div><!-- /.col -->
			<div class="col-xs-4 border-right status" ng-if="game.status == 99">
				<a class="description-block publish" target="_blank" ui-sref="base.gameEdit({id:game.id})">
					<i class="icon fa fa-check"></i>
					<h5 class="text">已发布</h5>
				</a><!-- /.description-block -->
			</div><!-- /.col -->
			<div class="col-xs-4 border-right status" ng-if="game.status == 1">
				<a class="description-block unpublish" target="_blank" ui-sref="base.gameEdit({id:game.id})">
					<i class="icon fa fa-circle-o"></i>
					<h5 class="text">未发布</h5>
				</a><!-- /.description-block -->
			</div><!-- /.col -->
			<div class="col-xs-4 border-right status" ng-if="game.status == 3">
				<a class="description-block send-back" target="_blank" ui-sref="base.gameEdit({id:game.id})">
					<i class="icon fa fa-close"></i>
					<h5 class="text">退稿</h5>
				</a><!-- /.description-block -->
			</div><!-- /.col -->
			<div class="col-xs-4" style="padding:0">
				<div class="description-block time">
					<span class="description-text" ng-bind="game.create_at | onlyDate"></span><br>
					<span class="description-text" ng-bind="game.create_at | onlyTime"></span>
				</div><!-- /.description-block -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div>
</div>