<section class="content-header">
	<h1>
		游戏编辑
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
		<li>游戏</li>
		<li class="active">编辑</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<!-- <div game-list></div> -->
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">参数</h3>
				</div>
				<div class="box-body">
					<form role="form" name="game_params">
						<div class="form-group">
							<label>游戏类型</label>
							<select class="form-control" ng-model="game_type" ng-options="t.label for t in game_types"></select>
						</div>
						<div class="form-group">
							<label>游戏标题</label>
							<input type="text" class="form-control" ng-model="game.title">
						</div>
						<div class="form-group">
							<label>游戏标题(外文)</label>
							<input type="text" class="form-control" ng-model="game.title_en">
						</div>
						<div class="form-group">
							<label>用户userid</label>
							<input type="text" class="form-control" ng-model="game.userid">
						</div>
						<div class="form-group">
							<label>游戏链接</label>
							<input type="text" class="form-control" ng-model="game.content.url">
						</div>
						<div class="form-group">
							<label>又拍云链接</label>
							<div class="input-group">
								<div class="input-group-btn">
									<button type="button" class="btn btn-primary" ngf-select="uploadFile($file)" ng-disabled="!uploadFile || filePercentage">上传</button>
								</div>
								<input type="text" class="form-control" ng-model="game.content.upyun_url">
							</div>
							<div class="progress active" style="margin-top:5px" ng-show="filePercentage">
								<div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="{{filePercentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{filePercentage}}%">
									<span class="sr-only">{{filePercentage}}% Complete</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>链接类型</label>
							<select class="form-control" ng-model="url_type" ng-options="t.label for t in url_types"></select>
						</div>
						<div class="row">
							<div class="form-group col-xs-6">
								<label>宽度</label>
								<input type="text" class="form-control" ng-model="game.content.width">
							</div>
							<div class="form-group col-xs-6">
								<label>高度</label>
								<input type="text" class="form-control" ng-model="game.content.height">
							</div>
						</div>
						<div class="form-group">
							<label>游戏下载1(单机/iOS)</label>
							<input type="text" class="form-control" ng-model="game.content.down1">
						</div>
						<div class="form-group">
							<label>游戏下载2(Android)</label>
							<input type="text" class="form-control" ng-model="game.content.down2">
						</div>
						<div class="form-group">
							<label>发布时间</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-calendar"></i>
								</div>
								<input type="text" class="form-control" ng-model="game.create_time">
							</div>
						</div>
						<div class="form-group">
							<label style="width:100%">发布状态</label>
							<a class="btn" ng-class="{true:'btn-success'}[game.status == 99]" ng-click="game.status=99">已发布</a>
							<a class="btn" ng-class="{true:'btn-warning'}[game.status == 1]" ng-click="game.status=1">未发布</a>
							<a class="btn" ng-class="{true:'btn-danger'}[game.status == 0]" ng-click="game.status=0">未审核</a>
						</div>
						<div class="form-group">
							<label style="width:100%">允许评论</label>
							<a class="btn" ng-class="{true:'btn-success'}[game.isvote == 1]" ng-click="game.isvote=1">YES</a>
							<a class="btn" ng-class="{true:'btn-danger'}[game.isvote == 0]" ng-click="game.isvote=0">NO</a>
						</div>
						<div class="btn-group" style="float:right;position:absolute;bottom:25px;right:10px">
							<button class="btn btn-primary" ui-sref="base.relation({id:game.id})">相关</button>
							<button class="btn btn-warning" ui-sref="base.gameNotice({id:game.id})">公告</button>
							<button class="btn btn-danger" ng-click="sendBack()">退稿</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">文本</h3>
				</div>
				<div class="box-body">
					<form role="form" name="game_text">
						<div class="form-group">
							<label>封面</label>
							<img class="img-responsive" ng-src="{{game.image || 'https://placeholdit.imgix.net/~text?txtsize=60&txt=%E5%B0%81%E9%9D%A2%E5%9B%BE%E7%89%87&w=440&h=250'}}" ngf-select="uploadImage($file)" ng-disabled="imagePercentage" style="display:block;margin: 0 auto;max-height:250px">
							<div class="progress active" style="margin-top:5px" ng-show="imagePercentage">
								<div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="{{imagePercentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{imagePercentage}}%">
									<span class="sr-only">{{imagePercentage}}% Complete</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>内容</label>
							<textarea class="form-control" rows="4" ng-model="game.content.content"></textarea>
						</div>
						<div class="form-group">
							<label>操作</label>
							<textarea class="form-control" rows="3" ng-model="game.content.operation"></textarea>
						</div>
						<div class="form-group">
							<label>汉化成员</label>
							<textarea class="form-control" rows="3" ng-model="game.content.chinesize"></textarea>
						</div>
					</form>
				</div>
			</div>
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">标签</h3>
				</div>
				<div class="box-body">
					<div tags-list="game.content.tags_cache"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<a class="btn btn-success" style="margin:0 auto;display:block;font-size:20px;" ng-click="submit()">提交</a>
		</div>
	</div>
</section>
<script type="text/javascript">
	$("[data-mask]").inputmask();
</script>