<section class="content-header">
	<h1>
		推荐审核
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
		<li>游戏</li>
		<li class="active">推荐审核</li>
	</ol>
</section>
<section class="content-header">
	<div class="row">
		<div class="col-xs-12" style="margin:15px 0">
			<div class="btn-group" style="margin:0 10px 10px 0;float:left">
				<button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<span ng-if="!options.status && options.status != 0">全部状态</span>
					<span ng-if="options.status == 99">已发布</span>
					<span ng-if="options.status == 0">未审核</span>
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a ng-click="change_status()">全部状态</a></li>
					<li><a ng-click="change_status(99)">已发布</a></li>
					<li><a ng-click="change_status(0)">未审核</a></li>
				</ul>
			</div>
			<div class="input-group" style="margin:0 10px 10px 0;float:left;width:200px">
				<div class="input-group-btn">
					<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
						<span ng-if="options.search_type == 'id' || !options.search_type">推荐ID查询</span>
						<span ng-if="options.search_type == 'key'">关键词查询</span>
						<span ng-if="options.search_type == 'tid'">游戏ID查询</span>
						<span ng-if="options.search_type == 'userid'">用户ID查询</span>
						<span class="fa fa-caret-down"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a ng-click="change_search_type('id')">ID查询</a></li>
						<li><a ng-click="change_search_type('key')">关键词查询</a></li>
						<li><a ng-click="change_search_type('tid')">游戏ID查询</a></li>
						<li><a ng-click="change_search_type('userid')">用户ID查询</a></li>
					</ul>
				</div><!-- /btn-group -->
				<input type="text" class="form-control" ng-model="options.keywords" ng-keyup="search($event)">
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-show="!rec.hide" ng-repeat="rec in list.data">
			<div class="box box-widget">
				<div class="box-header with-border">
					<div class="user-block">
						<img class="img-circle" ng-src="http://img.u77.com/avatar/{{rec.user.avatar}}" alt="User Image">
						<span class="username"><a href="{{Path}}user/{{rec.user.userid}}" ng-bind="rec.user.nickname"></a></span>
						<span class="description" ng-bind="rec.create_at | dateTime"></span>
					</div>
					<div class="box-tools">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body with-border">
					<div style="height:100px;overflow:auto">{{rec.content}}</div>
					<div class="attachment-block clearfix">
						<img class="attachment-img" ng-src="{{rec.game.image}}" alt="attachment image" style="width:100px;height:57px">
						<div class="attachment-pushed">
							<h4 class="attachment-heading"><a href="{{Path+'/game/'+rec.game.id}}" target="_blank" style="display: inline-block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;max-width: 100%;">{{rec.game.title}}</a></h4>
							<div class="attachment-text">
								首次推荐于<br><span>{{rec.game.create_at|dateTime}}</span>
							</div><!-- /.attachment-text -->
						</div><!-- /.attachment-pushed -->
					</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-warning btn-xs" ng-click="delete(rec)"><i class="fa fa-times"></i> 删除</button>
					<button class="btn btn-info btn-xs" ng-click="accept(rec)" ng-if="rec.status != 99"><i class="fa fa-check"></i> 通过</button>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div nav-pager='list' page-change="pageChange"></div>
		</div>
	</div>
</section>