<div class="nav-tabs-custom">
	<ul class="nav nav-tabs">
		<li ng-repeat="type in tagList" ng-class="{true:'active'}[currentTab == $index]" ng-click="changeTab($index)">
			<a ng-bind="type.label"></a>
		</li>
		<li class="pull-right"><a ui-sref="base.tag" class="text-muted"><i class="fa fa-gear"></i></a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane"  ng-class="{true:'active'}[currentTab == $index]" ng-repeat="type in tagList">
			<button ng-repeat="tag in type.tags" class="btn btn-default btn-flat" ng-bind="tag.name" style="margin:5px" ng-click="add(tag)" ng-disabled="tag.disable"></button>
		</div><!-- /.tab-pane -->
	</div><!-- /.tab-content -->

	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">已选择的标签</h3>
		</div>
		<div class="box-body">
			<button ng-repeat="tag in selectedList" class="btn btn-default btn-flat" ng-bind="tag.name" style="margin:5px" ng-click="remove(tag)"></button>
			<!-- <button class="btn btn-default btn-flat" ng-repeat="tag in selectedList"></button> -->
		</div>
	</div>
</div>