$baseBackground: #f9f9f9;
$dividingColor : #eee;

@mixin loadingGif(){
	// background: url(/img/base-loading.gif);
	background-repeat-y: no-repeat;
	background-size: auto;
	background-position: center center;
}

@mixin format(){
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}


/**
 * common
 */
.fa{
	text-align:center;
}

// upyun
.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	// position: relative;
	// display: inline-block;
	// cursor: pointer;
	// background: #00b7ee;
	// padding: 10px 15px;
	// color: #fff;
	// text-align: center;
	// border-radius: 3px;
	// overflow: hidden;
}
.webuploader-pick-hover {
	// background: #00a2d4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

/*
editor
*/
.ta-scroll-window{
	/*max-height: 500px;*/
}


/**
 * base 
 * 
 */
html,body{
	background: $baseBackground;
	width: 100%;
	height: 100%;
	font-family:'微软雅黑';

	#u77manage{
		@include loadingGif();
		width: 100%;
		min-height: 300px;
		height: 100%;
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,a,span,div,section,i,li,input,p{
	font-family:'微软雅黑';
}

.widget-user.game-block{

	.bg{
		background-color: rgba(0,0,0,0.6);
		padding: 5px;
		border-radius: 5px;
	}

	.widget-user-image{
		top: 90px;
		margin-left: -30px;

		.img-circle{
			width: 60px;
		}
	}

	.widget-user-username a,
	.widget-user-desc a{
		color: #fff;
	}
	
	.box-footer{
		.row{
			.btns{
				padding-right:5px;
				.description-block{
					overflow: hidden;
					.btn{
						float: left;
						width: 46%;
						margin: 2%;
						font-size: 12px;
						padding: 0;
						height: 25px;
						line-height:24px;
					}
				}
			}

			.status{

				.description-block{
					color: #fff !important;
					border-radius: 50%;
					width: 60px;
					height: 60px;
					margin: 10px auto;
					margin-bottom: 0;
					padding: 8px;

					.fa{
						font-size:25px;
					}

					.text{
						margin-top:5px;
						font-size:13px;
					}
				}

				.description-block.unaudited{
					background-color: #dd4b39 !important;
				}

				.description-block.send-back{
					background-color: #001f3f !important;
				}

				.description-block.publish{
					background-color: #00a65a !important;
				}

				.description-block.unpublish{
					background-color: #f39c12 !important;
				}
			}

			.time{
				margin-top:20px;
			}
		}
	}
}

/**
 * big eye
 * 
 */
#big-eye{
	.slider{
		.item{
			display: block;
			position: relative;

			.img-responsive{
				margin: 0 auto;
			}

			.text{
				position: absolute;
				bottom: 10px;
				width: 100%;
				text-align: center;
			}
		}
	}

	.box{
		table{
			tr{
				th.progress{
					display: none;
				}
			}

			tr.uploading{
				th{
					padding-top: 30px;
				}

				th.progress{
					display: block;
					width: 92%;
					position: absolute;
					left: 4%;
					padding: 0;
					margin-top: 5px;
				}
			}

		}
	}

	.submit{
		width: 200px;
	    margin: 2% auto;
	    display: block;
	    font-size: 16px;
	}

	.arrow-left{
		font-size: -webkit-xxx-large;
	    position: absolute;
	    z-index: 1;
	    top: 30%;
	    left: 1%;
	    cursor: pointer;
	}

	.arrow-right{
		font-size: -webkit-xxx-large;
	    position: absolute;
	    z-index: 1;
	    top: 30%;
	    right: 1%;
	    cursor: pointer;
	}
}


// loading
#loading{
	padding-top:20%;

	.img-responsive{
		margin: 0 auto;
	}
}